body {
    font-family: 'Poppins', sans-serif;
    color: #000;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center; /* Centra el contenido del contenedor */
}

h1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.6;
}

.container img {
    max-width: 50%; /* Hace que la imagen sea más pequeña */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Evita espacios no deseados debajo de la imagen */
    margin: 20px auto; /* Centra la imagen horizontalmente y añade un espacio arriba y abajo */
}

.container p:first-of-type {
    margin-bottom: 40px; /* Añade más espacio debajo del primer párrafo */
}
